body {
  background-color: black;
  color: white;
}

#gameslist {
  width: 50%;
  text-align: center;
  margin: auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.game {
  display: inline-block;
  width: 25vh;
  height: 25vh;
  font-size: large;
  background-color: #450000;
  border-color: #750000;
  color:#ffffff;
  transition-duration: 50ms;
  border-radius: 30%;
  text-align: center;
}

.game:hover {
  background-color: #450045;
  border-color: #b500b5;
  color:#ffffff;
}
